div.footer-right {
  float: right;
}

div.debtContent {
  /*
  position:relative; */
  width:auto;
  min-width:0px;
  min-height:0px;
  margin:0px 0px 5px 0px;
  border:1px dashed black;
  background-color:white;
  padding:10px;
  text-align:justify;
  z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
}

div.debtHeader {
  min-width:0em;
  min-height:0em;
  margin:0 0 0 0;
  padding:0 0 0 0;
  text-align:left;
/*  font:bold 900 .8em times;*/
}

div.debtType {
  width:29%;
  float:right;
  text-align:right;
  font:italic 900 1em times;
}

div.debtType table {
  font:normal 1em arial;
}

div.debtName {
  width:70%;
  text-align:left;
  font:bold 900 1em times;
}

div.debtName h3 {
  font-family: times;
  font-size: 1.5em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

div.debtNotes {
  font:italic 900 .5em times;
  text-align:left;
}

div.debtFooter {
  background-color:#000000;
  color:#ffffff;
  min-width:0em;
  min-height:1.5em;
  margin:0 -1em -1em -1em;
  text-align:left;
  padding:.1em .1em .1em .1em;
}

div.money_table {
  float: right;
}
